/*start item frame*/
.item-frame {

    background-color: rgba( 22, 22, 25, 0.2);
    /*height: 370px;*/

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin:9px;
    position:relative;
    width:31%;
 /*INB4 YOU DELETE ME, THIS IS NEEDED, PROBABLY */
}
.master-frame {
    height:100%;
}

.top-item-frame {
    color: #ee424b;
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-item-frame a {
    font-size:1.5vh;
    text-overflow: ellipsis
}

.picture-item-frame {
    border-top: 2px solid #EE424B;
    border-bottom: 2px solid #EE424B;
    height: 183px;
}

.picture-item-frame img {
    height: 183px;
    width: 248px;
}

.price-item-frame {
    color: #fffbeb;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;

}

 .button-css {
    font-size: 20px;
    width:100%;
    height: 64px;
    background-color: #0077CC;
    color: black;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    /*position:absolute;*/
    transition:all 200ms;
}

.button-css a {
    font-size: 20px;
    transition:all 200ms;
}
.button-css i {
    padding-right: 10px;
    font-size: 25px;
    transition:all 200ms;
}

.button-css:hover i {
    font-size: 30px;
    transition:all 200ms;
}

.button-css:hover a, .button-css:hover {
    transition:all 200ms;
    background-color: #ff4851;
    font-size: 25px;

}

.flex-container {
    float:right;
    width:83%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    /*width:82.5%;*/
    align-items:stretch;
}
html {
    background-image: url("../shopbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url("../shopbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*@media screen and (min-width:1806px) {*/
    /*#buttonInput {*/
        /*margin-top:0px;*/
/*}*/
/*}*/

/*#navitem6 {*/
    /*align-self:flex-start;*/
/*}*/


/*#navitemcolor6:hover:before {*/
    /*content: 'Log out?';*/
/*}*/
/*end item frame*/

