html, body {
    height: 100%;
    background-image: url("../../php/shopbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgba( 22, 22, 25, 1);*/
}
h1 {
    color: #EE424B !important;
}
body {
    margin: 0;
    /*background-color:#161619;*/
}

/*@media screen and (max-width:767px) {*/
/*body {*/
/*height:100vh;*/
/*}*/
/*}*/
/*@media screen and (max-height:909px) {*/
/*.wrapper {*/
/**/
/*}*/
/*}*/

.wrapper {
    background-color: rgba( 22, 22, 25, 0.2);
    width: 65%;
    margin: auto;
    height: auto;
}

.img1:hover, .img2:hover {
    -webkit-animation: tada 0.95s;
    animation: tada 0.95s;
}
hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 20px 0;
}
.content {
    background-color: rgba( 22, 22, 25, 0.2);

}

.content h1 {
    color: #fffbeb;
    margin-top: 10px;
}

.content p {
    color: #fffbeb;
}

#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #EE424B;
}


.notification.is-info {
    background-color: #161619;
}

/*FOOTER */
.footer {
    /*background-color: #161619;*/
    background-color: rgba( 22, 22, 25, 0.2);
    color: #fffbeb;
    border-bottom-color: transparent;
}

.footer strong {
    color: #fffbeb;
}

.footer i {
    transition: 300ms;
    color: #fffbeb;

}

.footer i:hover {
    transition: 300ms;
    color: #EE424B !important;
}
#footertekst {
    color:#fffbeb;
}

.footer a {
    border-bottom-color: transparent !important;
}

/*FOOTER*/
hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 20px 0;
    width:100%;
    margin:auto;
}
#redline {
    border-top: 2px solid #EE424B;
}


#navcolor {
    background-color: #222329;
}

.nav-item.is-noactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none ;
}
.nav-item.is-noactive:hover {
    transition: 300ms;
    color:#EE424B;
    border-bottom:2px #EE424B solid;
}
.nav-item.is-yesactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none;
}
.nav-item.is-yesactive:hover {
    transition: 300ms;
    color:#EE424B !important;
    border-bottom:none;
}
@media screen and (min-width:768px) {
    .nav-item.is-yesactive {
        border-bottom:none !important;
    }
    .nav-item.is-yesactive:hover {
        border-bottom: 2px #EE424B solid !important;
    }
}

.nav {
    height: 75px;
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black;
}
.nav-toggle {
    background-color:#222329;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329;
    }

}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}

/* PRE LOADER */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.85s;
    animation-name: animatebottom;
    animation-duration: 0.85s;
    background-color: rgba( 22, 22, 25, 0) !important;
    /*background-color:#161619;*/
    padding:5px;

}
.notification.is-info {
    background-color: rgba( 22, 22, 25, 0) !important;
}

@-webkit-keyframes animatebottom {
    from { bottom:-50px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-50px; opacity:0 }
    to{ bottom:0; opacity:1 }
}




.loader2 {
    /*display:block;*/
    transition:300ms;
    opacity:1;

    width:100%;
    height:100%;
    /*background-color:#222329;*/
}

#imgabout {

}

.page {
    display:none;
    /*background-color:#161619;*/

}
.quickSpin {
    -webkit-animation: fa-spin 1s infinite ease-in-out;
    animation: fa-spin 1s infinite ease-in-out;
}
#hover {
    transition:300ms;
}
#hover:hover{
    transition:300ms;
    color:#EE424B;
}
/* END PRE LOADER */
html {
    height:100%;
}
body {
    height:100%;
}

@media screen and (max-width:1154px) {
    #mediaquery1154px {
        width:100%;
    }
}
@media screen and (min-width:1153px) {
    #mediaquery1154 {
        width:43%
    }
}

/*FOOTER ICONS*/
#iconbot {
    margin-right: 15px;
}

#iconbot:last-child {
    margin-right: 0px;
}
/*FOOTER ICONS*/