<!--<form action="/addCourses" method="post">-->
    <!--<input name="course[title]" value=""><br>-->
    <!--<input name="course[description]" value=""><br>-->
    <!--<input name="course[backgroundImage]" value=""><br>-->
    <!--<label>youtube playlist url</label><input name="course[courseVideoLessons]" value="">-->
    <!--&lt;!&ndash;<input name="course[courseVideoLessons]">&ndash;&gt;-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->