<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/libraries/quill-snow-theme.css" rel="stylesheet"/>
    <link href="/libraries/monokai-sublime-min.css" rel="stylesheet">
    <link href="/libraries/bootstrap.css" rel="stylesheet">
    <script src="/libraries/jquery.js"></script>
    <link rel="stylesheet" href="/libraries/font-awesome.css">
    <link rel="stylesheet" href="/libraries/bootstrap-social.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
</head>
<body>
<script src="https://cdn.quilljs.com/1.2.4/quill.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script src="/javascripts/initCodeHighlighting.js"></script>

{{{body}}}


<script src="/libraries/bootstrap.js"></script>

</body>
</html>
