.img1,
.img2,
.img3,
.img4 {}

@keyframes slider {
    0% {
        left: 0%;
    }
    10% {
        left: 0%;
    }
    16% {
        left: -100%;
    }
    26% {
        left: -100%;
    }
    32% {
        left: -200%;
    }
    42% {
        left: -200%;
    }
    48% {
        left: -300%;
    }
    58% {
        left: -300%;
    }
    64% {
        left: -400%;
    }
    74% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    90% {
        left: -500%;
    }
    96% {
        left: -600%;
    }
    100% {
        left: -600%;
    }
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 600px;
    text-align: center;
}

.slider figure img {
    width: 14.28%;
    float: left;
    height: 600px;
}

@media screen and (max-width: 1500px) {
    .slider {
        height: 400px;
    }
    .slider figure img {
        height: 400px;
    }
}

.slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    animation: 40s slider infinite;
}

body {
    background-color: #161619;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    background-image:none !important;
    background-color: #161619 !important;
}

#button {
    transition: 300ms;
    color: #161619;
    transform: translateY(-120%);
}

#button:hover {
    transition: 300ms;
    background-color: rgb(255, 0, 0);
}

#navcolor {
    background-color: #222329;
}

#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #EE424B;
}

.nav-item.is-noactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom: none;
}

.nav-item.is-noactive:hover {
    transition: 300ms;
    color: #EE424B;
    border-bottom: 2px #EE424B solid;
}

.nav-item.is-yesactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom: none;
}

.nav-item.is-yesactive:hover {
    transition: 300ms;
    color: #EE424B !important;
    border-bottom: none;
}

@media screen and (min-width:768px) {
    .nav-item.is-yesactive {
        border-bottom: none !important;
    }
    .nav-item.is-yesactive:hover {
        border-bottom: 2px #EE424B solid !important;
    }
}

.nav {
    height: 75px;
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329;
    }
}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}

.randombalk {
    background-color: #222329;
}

.box {
    width: 40%;
    margin: auto;
    margin-top: 25px;
    display: inline-block;
}

#uberbox {
    display: none;
    margin: auto;
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;

}


/*FOOTER */

#chat:hover {
    text-decoration:none !important;
}

.footer {
    background-color:black;
    background-color: rgba( 22, 22, 25, 0.2); !important;
    color: #fffbeb;
    border-bottom-color: transparent;
}

.footer strong {
    color: #fffbeb;
}

.footer i {
    transition: 300ms;
    color: #fffbeb;
}

.footer i:hover {
    transition: 300ms;
    color: #EE424B !important;
}

#footertekst {
    color: #fffbeb;
}

.footer a {
    border-bottom-color: transparent !important;
}


/*FOOTER*/

#redline {
    border-top: 2px solid #EE424B;
}

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 20px 0;
    width: 65%;
    margin: auto;
}

.box {
    margin: 20px;
}

#balk {
    background-color: #222329;
}


/* PRE LOADER */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.85s;
    animation-name: animatebottom;
    animation-duration: 0.85s;
    background-color: rgba( 22, 22, 25, 0.2);
}

.animate-bottom2 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.85s;
    animation-name: animatebottom;
    animation-duration: 0.85s;
    background-color: #222329;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.loader2 {
    /*display:block;*/
    transition: 300ms;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #222329;
}

#page {
    /*display:none;*/
}

.quickSpin {
    -webkit-animation: fa-spin 1s infinite ease-in-out;
    animation: fa-spin 1s infinite ease-in-out;
}

#hover {
    transition: 300ms;
}

#hover:hover {
    transition: 300ms;
    color: #EE424B;
}


/* END PRE LOADER */

/*FOOTER ICONS*/
#iconbot {
    margin-right: 15px;
}

#iconbot:last-child {
    margin-right: 0px;
}
/*FOOTER ICONS*/