* {
    box-sizing: border-box;
}

body {
    padding-top: 86px;
    margin: 0;
}

a {
    white-space: nowrap;
}

body, html {
    height: 100%;
    background-image: url('../img/paralaxbackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.nav {
    min-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    /*#feffff*/
    padding: 16px;
    height: 86px;
    width: 100%;
    /*-webkit-box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/
    /*-moz-box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/
    /*box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/

}
div.nav img.logo {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 10%;
    transform: translateX(-50%);

}

div.nav #img  {
    transition: .8s;

    visibility: visible;
    overflow:visible;
    float:right;
    position: relative;
    top:0;
    margin-right:24px;
    margin-top:13px;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    /*padding-top: 27px;*/
    /*padding-bottom: 27px;*/
    /*padding: 27px 5% 27px 5%;*/
    height:28px;
    width:28px;
    z-index:999999;
    /*overflow:visible;*/
}

div.nav #img:hover {
    transition: .3s;
    padding-left:1px;
    padding-right:1px;
    opacity:0.7;

}

a.redirect {
    width: 56px;
    height: 56px;
    position: relative;
    left: 10%;
    text-decoration:none;
    transform: translateX(-50%);
}

a.logotext {
    text-decoration:none;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    position: relative;
    left: 13.5%;
    top: 6px;
    transform: translateX(-50%);
    /*-webkit-animation: tada 0.95s;*/
    /*animation: tada 0.95s;*/
    /*ANIMATE.CSS is doing weird.*/
}

div.nav a.contact, a.overons, a.recepten, a.sport, a.concerten {
    transition: .6s;
    margin-right: -4px;
    text-decoration: none;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: relative;
    top: -70px;
    /*color: #9aa5a8;*/
    float: right;
    right:32%;

}

div.nav a.contact:hover, a.overons:hover, a.recepten:hover, a.sport:hover, a.concerten:hover {
    transition: .6s;
    color: #f45616;

}

div.nav a.sport {
    right:48%;
}

div.nav a.contact, a.concerten {
    right:34%;
}

div.nav a.concerten {
    right:22%;
    top:-74px;
    z-index: 123897129837;
}

.sidenav {
    transition:300ms linear;
    height:260px;
    width: 0;
    position: fixed;
    z-index: 10000;
    top:86px;
    left: 0;
    background-color:#737373;
    overflow-x: hidden; <!--???-->
    transition: 0.5s;
    padding-top:86px;
}

.sidenav a {
    position:relative;
    transition:150ms linear;
    top: -70px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dce9de;
    display: block;
    transition: 0.3s;
}

div.wrapper {
    width:75%;
    background-color:#ccd9ce;
    margin: 0 auto;
    padding:20px;
}

.titel, .titel1, .titel2, .titel3 {
    font-weight:bold;
    font-family:'Ubuntu', sans-serif;
    padding-bottom:5px;
    padding-top:5px;
}
.titel {
    width:100%;
    font-size: 30px;
}

section.bescrijving {
    width:100%;
    position:relative;
}

p.recept {
    position:relative;
    width:40%;
    font-family:'Ubuntu', sans-serif;
}

.img1 {
    max-width: 500px;
    position:relative;
    /*top:-331px;*/
    width:80%;
    height:60%;


}

section.visual {
    width:50%;
    top:-355px;
    position:relative;
    float:right;
    padding-top:100px;
}

.flex-container {
    max-width:1600px;
    display: -webkit-flex;
    display: flex;
    width:96%;
    height:250px;
    position:relative;
    top:-300px;
}

.flex-item, .flex-item img {
    background-color:black;
    width:23%;
    height:175px;

    margin: 10px;
}

/* footer */
footer {
    width: 75%;
    height:250px;
    margin: auto;
    background-color: gray;
    padding-left:2%;
    padding:30px;
    font-family: 'Ubuntu', cursive;
}

div.sitel {
    font-weight: bold;
    font-size: 20px;
}

div.footer a {
    display: block;
    line-height: 140%;
}
/* footer end */