* {
    box-sizing: border-box;
}

body {
    padding-top: 86px;
    margin: 0;
}

a {
    white-space: nowrap;
}

body, html {
    height: 100%;
    background-image: url('../img/paralaxbackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.nav {
    min-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    /*#feffff*/
    padding: 16px;
    height: 86px;
    width: 100%;
    /*-webkit-box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/
    /*-moz-box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/
    /*box-shadow: 0px 3px 3px 0px rgba(158, 156, 158, 1);*/

}
div.nav img.logo {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 10%;
    transform: translateX(-50%);

}

div.nav #img  {
    transition: .8s;

    visibility: visible;
    overflow:visible;
    float:right;
    position: relative;
    top:0;
    margin-right:24px;
    margin-top:13px;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    /*padding-top: 27px;*/
    /*padding-bottom: 27px;*/
    /*padding: 27px 5% 27px 5%;*/
    height:28px;
    width:28px;
    z-index:999999;
    /*overflow:visible;*/
}

div.nav #img:hover {
    transition: .3s;
    padding-left:1px;
    padding-right:1px;
    opacity:0.7;

}

a.redirect {
    width: 56px;
    height: 56px;
    position: relative;
    left: 10%;
    text-decoration:none;
    transform: translateX(-50%);
}

a.logotext {
    text-decoration:none;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    position: relative;
    left: 13.5%;
    top: 6px;
    transform: translateX(-50%);
    /*-webkit-animation: tada 0.95s;*/
    /*animation: tada 0.95s;*/
    /*ANIMATE.CSS is doing weird.*/
}

div.nav a.contact, a.overons, a.recepten, a.sport, a.concerten {
    transition: .6s;
    margin-right: -4px;
    text-decoration: none;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: relative;
    top: -70px;
    /*color: #9aa5a8;*/
    float: right;
    right:32%;

}

div.nav a.contact:hover, a.overons:hover, a.recepten:hover, a.sport:hover, a.concerten:hover {
    transition: .6s;
    color: #f45616;

}

div.nav a.sport {
    right:48%;
}

div.nav a.contact, a.concerten {
    right:34%;
}

div.nav a.concerten {
    right:22%;
    top:-74px;
    z-index: 123897129837;
}

.sidenav {
    transition:300ms linear;
    height:260px;
    width: 0;
    position: fixed;
    z-index: 10000;
    top:86px;
    left: 0;
    background-color:#737373;
    overflow-x: hidden; <!--???-->
    transition: 0.5s;
    padding-top:86px;
}

.sidenav a {
    position:relative;
    transition:150ms linear;
    top: -70px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dce9de;
    display: block;
    transition: 0.3s;
}


/* NAV BAR ABOVE */

div.receptenbigcontainer .receptentext {
    white-space: nowrap;
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    transform: translateY(50%);
    font-family:'Ubuntu';
    color: #dce9de;
    font-size: 50px;
    top: -466px;
    /*top:-466px;*/
    /*!*margin: 0 auto;*!*/
    /*left:37%;*/



}

div.receptenbigcontainer img {
    -webkit-filter: brightness(70%);
    width:100%;
    height:800px;
    z-index:1;
}

div.receptenbigcontainer {
    height:800px;
}

div.balk {
    height: 152px;
    width: 100%;
    background-color: #fba026;
    font-family: 'Ubuntu', cursive;
    /*padding: 30px;*/


    /*text-align: center;*/
}

div.balk a.gemaakt {

    font-weight: bold;
}

div.balk a.namen {
    font-size: 15px;
    line-height: 150%;
}

.balk a.tekstbalk {
    white-space:nowrap;
    font-family: 'Kaushan Script', cursive;
    display:block;
    text-align:center;
    position: relative;
    margin: 0 auto;
    font-size: 60px;
    transform:translateY(33%);
}

div.wrapper {
    width: 75%;
    margin: auto;
    background-color: #26ADFB;
    height:100%;
    padding:30px;
}

div.wrapper .tekstrecept {
    font-family:'Ubuntu';
    float:left;
}

div.wrapper div.containerboerenkool .boerenkool {
    font-weight:bold;
    font-size:30px;
    white-space:nowrap;

}

div.wrapper div.containerboerenkool {
    width:100%;
}

div.wrapper .boerenkooltekst {

    width:295px;
    display: block;
    position: relative;
    font-size: 15px;
    transform: translateY(5%);

}

.boerenkool32 {
    font-family:'Ubuntu';
    font-weight:bold;
    font-size:30px;
    white-space:nowrap;
}
/* ================= */

img.bloemkool1, img.bloemkool2 {
    transition: all 250ms ease-in-out;
    float:right;
    width:30%;
    height:30%;
    margin-right:20px;
}

img.bloemkool2 {
    margin-right:30px;
}

img.bloemkool1:hover, img.bloemkool2:hover {
    transition: 250ms;
    transform: scale(1.1);
    -webkit-filter: brightness(80%);
    cursor:pointer;
}

    /* =========== */


div.wrapper .tekstrecept2 {
    font-family:'Ubuntu';
    float:left;

}

div.wrapper div.containerboerenkool2 .boerenkool2 {
    font-weight:bold;
    font-size:30px;
    white-space:nowrap;

}

div.wrapper div.containerboerenkool2 {
    width:100%;
}

div.wrapper .boerenkooltekst2 {
    width:395px;
    display: block;
    position: relative;
    font-size: 15px;
    transform: translateY(5%);
    font-family:'Ubuntu';
    font-size:15px;

}

img.bloemkool12, img.bloemkool22{
    transition: all 250ms ease-in-out;
    float:right;
    width:30%;

    margin-right:30px;
}


img.bloemkool22 {
    height:15%;
}

img.bloemkool12 {
    height:196px;
    width:26%;
}

img.bloemkool12:hover, img.bloemkool22:hover {
    transition: 250ms;
    cursor:pointer;
    transform: scale(1.1);
    -webkit-filter: brightness(80%);
}

div.tekstrecept2 {
    padding-top:3%
}

.love {
    white-space: nowrap;
    font-weight: bold;
    padding-right: 33px;
    position: relative;
}

/* footer */
footer {
    width: 75%;
    height:250px;
    margin: auto;
    background-color: gray;
    padding-left:2%;
    padding:30px;
    font-family: 'Ubuntu', cursive;
}

div.sitel {
    font-weight: bold;
    font-size: 20px;
}

div.footer a {
    display: block;
    line-height: 140%;
}

/* end footer */

.boerenkooltekst1 {
    font-family:'Ubuntu';
    font-size:15px;
}