/**/
body {
    background-color:black;
}
.navbar {
    width: 100%;
    margin: auto;
    border-bottom:1px solid #FFFFFF;
    padding-top: 5px;
    padding-bottom:5px;
}
.ui.menu {
    justify-content: center;
}
.container {
    width:80%;
    margin:auto;
}