.cartContainer {
    width:45%;
    margin-top:35px;
    min-width:483px;
    max-width:483px;
    /*margin-top:20px;*/
}
#title {
    /*position:relative;*/
    text-align:center;
    font-size:25px;
    color: #fffbeb;
    margin-top:20px;
}
.Shopitem {
    margin-top:10px;
    border-radius: 4px;
    width:100%;
    background-color: #F2F1EF;
    padding:20px;
    display:flex;
    /*justify-content:center;*/
    /*height:64px;*/
    -webkit-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
}
#imgshopitem {
    width:128px;
    height:100%;
}
.removeButtonCSS {
    position:relative;
}
.removeButtonCSS:before {
    content: "\25AE";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
}
#flexleft {
    display:flex;
    justify-content:center;
}
#flexright {
    display:flex;
    justify-content:flex-end;
}
#plus, #minus {
    transition:300ms;
    color:black;
    cursor:pointer;
    font-size:25px;
}
#plus:hover, #minus:hover {
    font-size:27px;
    transition:300ms;
    color:gray;
}
.shopcartColumn {
    display: flex;
    justify-content: center;
}
.shopcartColumn span {
    color: #17252f;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    padding:20px;

}
.span1 {
    margin-left:40px;
    border-left:2px solid #17252f;
    border-right:2px solid #17252f;

}
.span2 {
    border-right:2px solid #17252f;

}
.flexleft {

    display:flex;
    justify-content:flex-end;
    width:50%;
    background-color:#F2F1EF;
}
.flexright {
    color: #2C3E50;
    display:flex;
    justify-content:flex-start;
    width:50%;
    background-color:#F2F1EF;
}
.span3 {
    margin-right:20px;
    border-right:2px solid #17252f;
}
body {
    display:flex;
    justify-content:center;
}