body {
    margin: 0;
    background-color: #161619;
}

.wrapper {
    width: 65%;
    margin: auto;
    height: auto;
}
#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #EE424B !important;
}

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 20px 0;
}

.content h1 {
    color: #fffbeb !important;
    margin-top: 10px;
}

.content p, .content ul li {
    color: #fffbeb !important;
}

/*FOOTER */
.footer.footer {
    background-color: #161619;
    color: #fffbeb;
    border-bottom-color: transparent;
}

.footer strong {
    color: #fffbeb;
}

.footer i {
    transition: 300ms;
    color: #fffbeb;

}

.footer i:hover {
    transition: 300ms;
    color: #EE424B !important;
}

.footer a {
    border-bottom-color: transparent !important;
}

/*FOOTER*/

#redline {
    border-top: 2px solid #EE424B;
}

#githubicon {
    transition: 300ms;
}
#githubicon:hover {
    transition: 300ms;
    color: #EE424B;
}

#navcolor {
    background-color: #222329;
}

.nav-item.is-noactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none ;
}
.nav-item.is-noactive:hover {
    transition: 300ms;
    color:#EE424B;
    border-bottom:2px #EE424B solid;
}
.nav-item.is-yesactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none;
}
.nav-item.is-yesactive:hover {
    transition: 300ms;
    color:#EE424B !important;
    border-bottom:none;
}
@media screen and (min-width:768px) {
    .nav-item.is-yesactive {
        border-bottom:none !important;
    }
    .nav-item.is-yesactive:hover {
        border-bottom: 2px #EE424B solid !important;
    }
}

.nav {
    height: 75px;
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
   background-color:#222329;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white !important;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black !important;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black !important;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke !important;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke !important;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329 !important;
    }

}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}

#navcolor {
    background-color: #222329;
}

#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #a2a3a0;
}

#navitemcolor {
    transition: 300ms;
    color: white;
    border-bottom:none;
}

#navitemcolor:hover {
    transition: 300ms;
    color: #EE424B;
    border-bottom:2px solid #EE424B;
}

.nav {
    height: 75px;
    background-color: #222329;
}

#redline {
    border-top: 2px solid #EE424B;
}

.nav-right {
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329;
    }

}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}

/* PRE LOADER */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.85s;
    animation-name: animatebottom;
    animation-duration: 0.85s;
    background-color:#161619;
}

@-webkit-keyframes animatebottom {
    from { bottom:-50px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-50px; opacity:0 }
    to{ bottom:0; opacity:1 }
}




.loader2 {
    /*display:block;*/
    transition:300ms;
    opacity:1;

    width:100%;
    height:100%;
    background-color:#222329;
}

.page {
    display:none;
}
.quickSpin {
    -webkit-animation: fa-spin 1s infinite ease-in-out;
    animation: fa-spin 1s infinite ease-in-out;
}
#hover {
    transition:300ms;
}
#hover:hover{
    transition:300ms;
    color:#EE424B;
}
/* END PRE LOADER */
html {
    height:100%;
}
body {
    height:100%;
}

/*FOOTER ICONS*/
#iconbot {
    margin-right: 15px;
}

#iconbot:last-child {
    margin-right: 0px;
}
/*FOOTER ICONS*/