{{err}}
<div style="width:100%; display:flex; justify-content: space-between; padding-top:10px; flex-direction: column; align-items: center">
    <img style="padding:5px" src="https://media1.giphy.com/media/5f2mqsGTHpe5a/200.webp#9-grid1"/>
    <img style="padding:5px" src="/images/joller.png"/>
</div>
