<!DOCTYPE html>
<html>
<head>
    <title>Verlanglijstjes</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">

    {{{body}}}

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted" style="text-align:center">Gemaakt met ♥ door Thomas</span>
    </div>
</footer>


</body>
</html>
