// this is the main color of the site
$primaryColor: white;

// this is the color used by borders and other 'secondary' things
$secondaryColor: black;

// this should be a contrast to $primaryColor
$textColor: black;


// nav exception

$primaryColorNav: white;

$secondaryColorNav: white;

$textColorNav: white;
